In [1]:
#packages
import pandas as pd

### Sampling Testing dataset

In [2]:
df = pd.read_csv("Data/Raw/Test_Chatlogs.csv")

In [3]:
df.head(5)

,line,author,time,text
0,1,0a39f78bcb297ab0ebe8a29c28bfed89,15:24,bugmail: [Bug 6978] New: Mark eof-terminated s...
1,2,60659cfda992013e610f285c46692d28,15:32,"Henri, can I ask you a Firefox build question ..."
2,3,b8810fee2f4a71f849f3f7409546d1d9,15:34,"60659cfda992013e610f285c46692d28: sure, but I ..."
3,4,60659cfda992013e610f285c46692d28,15:35,"It appears the build runs through, it creates ..."
4,5,60659cfda992013e610f285c46692d28,15:35,"when I start it, I get my standard install of ..."

In [4]:
subset = df.sample(n = 50)

In [5]:
subset.to_csv(r'Data\Sample\sampledDataset_testing.csv', index = False)

### Sampling Training dataset

In [6]:
df = pd.read_csv("Data/Raw/Training_Chatlogs.csv")

In [7]:
df.head(5)

   line                            author   time        text
0     1  97964e7a9e8eb9cf78f2e4d7b2ff34c7  03:20       Hola.
1     2  0158d0d6781fc4d493f243d4caa49747  03:20         hi.
2     3  0158d0d6781fc4d493f243d4caa49747  03:20   whats up?
3     4  97964e7a9e8eb9cf78f2e4d7b2ff34c7  03:20  not a ton.
4     5  97964e7a9e8eb9cf78f2e4d7b2ff34c7  03:20        you?

In [8]:
training_sample = df.sample(n = 50)

In [9]:
training_sample.to_csv(r'Data\SamplesampledDataset_training.csv', index = False)